* {
  margin: 0;
  padding: 0; }

body {
  font-family: Hack, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

a {
  color: #f0f0f0;
  text-decoration: none; }

.main-container {
  width: 70%;
  margin: auto; }

.console-text {
  color: #00ff32; }

#main-nav {
  background-color: red;
  min-height: 3vh;
  padding: 5px; }
  #main-nav .media-links {
    float: left; }
  #main-nav #main-nav-links {
    float: right; }
    #main-nav #main-nav-links ul li {
      display: inline;
      padding-right: 10px; }

#main-header {
  color: #f0f0f0; }
  #main-header h1 {
    color: #f0f0f0;
    font-size: 4rem; }
  #main-header #introduction {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 50%; }
    #main-header #introduction p {
      font-size: 14px; }
  #main-header a {
    font-size: 14px;
    color: #00ff32;
    background-color: black;
    border: 1px solid #00ff32;
    padding: 15px; }
    #main-header a:hover {
      color: #b4ffb4;
      border-color: #b4ffb4; }

#main-footer {
  margin-top: auto; }
  #main-footer p {
    color: #646464;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; }
