* {
  margin: 0;
  padding: 0;
  color: $main-text-color;
}

html {
  font-size: 14px;
}

body {
  font-family: "Hack", monospace;
  background-color: $main-background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;

  a:hover {
    color: $color-1;
  }
}

ul {
  list-style: none;
}
