//Main describes
@import "variables";
@import "transitions";

//Globals
@import "defaults";
@import "buttons";
@import "./components/tag";

//Layout
@import "./sections/navbar";
@import "./sections/intro";
@import "./sections/about";
@import "./sections/projects";
@import "./sections/footer";

.colored-text {
  color: $color-2;
}

//Sections
section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  h1 {
    font-size: 8rem;
    font-family: "Permanent Marker";
    color: $color-1;
  }

  h2 {
    font-size: 1rem;
    color: $color-2;
  }
}

.container {
  width: 60%;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  section {
    h1 {
      font-size: 6rem;
    }
  }
}

@media screen and (max-width: 500px) {
  section {
    h1 {
      font-size: 4rem;
    }
  }
}
