@import "variables";

//Globals
@import "globals";
@import "buttons";
@import "tag";

//Layout
@import "./Layout/navbar";
@import "./Layout/intro";
@import "./Layout/about";
@import "./Layout/portfolio";
@import "./Layout/footer";

//Sections
section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  h1 {
    font-size: 8rem;
    font-family: "Permanent Marker";
    color: $color-1;
  }

  h2 {
    font-size: 1rem;
    color: $color-2;
  }
}

.skills {
  display: flex;
  h4 {
    margin-bottom: 10px;
  }

  .skills-list {
    border-radius: 5px;
    width: 50%;
    ul {
      margin-top: 5px;
      margin-bottom: 5px;
      li {
        display: inline-block;
        margin-top: 5px;
        padding: 5px 20px 5px 20px;
        background-color: $tag-color;
        border: 1px solid $tag-color;
        border-radius: 36px;
      }
    }
  }
}

//Contact
#contact {
  text-align: center;
}
