#projects {
  text-align: center;

  .ft-project {
    display: flex;

    .ft-project-info {
      flex: 50%;
    }

    .ft-project-image {
      img {
        width: 500px;
        border-bottom: 4px solid $color-1;
        border-radius: 6px;
      }
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    .project {
      text-align: left;
      background-color: $alt-background-color;
      border-radius: 4px;

      display: flex;
      flex-direction: column;

      h6 {
        margin-top: 10px;
        margin-bottom: 2px;
      }

      .project-image {
        img {
          width: 100%;
        }
      }

      .project-links {
        background-color: rgba($color: black, $alpha: 0.5);
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        position: absolute;
      }

      .project-info {
        padding: 20px;
        .project-title {
          font-size: 2rem;
          color: $color-2;
        }

        .project-description {
          flex: 80%;
        }

        .project-tags {
          flex: 20%;
          border-radius: 4px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  #projects {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 720px) {
  #projects {
    .projects {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
