#main-footer {
  width: 100%;
  background-color: darken($background-color-1, 5%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: darken($text-color-1, 20%);
  }

  p {
    color: darken($text-color-1, 20%);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}
