#projects {
  text-align: center;
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;

    .project {
      text-align: left;
      background-color: darken($background-color-1, 20%);
      border: solid 1px darken(white, 80%);
      border-radius: 2px;

      display: flex;
      flex-direction: column;
      justify-items: center;

      .project-image {
        img {
          width: 100%;
          border-top: solid 1px darken(white, 80%);
          border-bottom: solid 1px darken(white, 80%);
        }
      }

      .project-header {
        background-color: rgba(black, 0.2);
        padding: 10px;

        a {
          position: absolute;
        }
      }

      .project-title {
        font-size: 2rem;
        color: $color-2;
        text-align: center;
      }

      .project-description {
        flex: 90%;
        padding: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .project-tags {
        flex: 10%;
        background-color: rgba(black, 0.2);
        h5 {
          width: 100%;
          margin-top: 14px;
          margin-left: 14px;
        }

        ul {
          margin: 0px 14px 14px 14px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  #projects {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 720px) {
  #projects {
    .projects {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
