//Defines website color information and classes.
//Main Website Colors
$color-1: rgb(43, 219, 253);
$color-2: rgb(221, 141, 70);
$background-color-1: rgb(20, 20, 20);
$text-color-1: rgb(220, 220, 220);

//
$off-white: rgb(200, 200, 200);
$tag-color: rgb(11, 10, 14);
$button-color: rgb(30, 30, 30);

.color-1 {
  color: $color-1;
}

.color-2 {
  color: $color-2;
}
