//Constrains the page width.
.width-limiter {
  width: 60%;
  margin: auto;
}

//Use for scroll-down pages.
.scroll-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
