$navbar-height: 120px;
.navbar {
  height: $navbar-height;
  width: 100%;
  background-color: rgba(black, 0.5);
  position: fixed;
  top: 0;
  z-index: 1;

  ul {
    text-align: center;

    li {
      display: inline-block;
      margin: 0 8px;
      line-height: $navbar-height;

      a {
        text-transform: uppercase;
        padding: 5px;
        border: 1px solid transparent;
        border-radius: 2px;

        &:hover {
          color: $color-2;
          border: 1px solid $color-2;
          border-radius: 2px;
          transition: color 0.5s;
        }
      }

      .active {
        border: 1px solid $text-color-1;
      }
    }
  }

  #navbar-button {
    font-size: 30px;
    line-height: $navbar-height;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
}

@include for-tablet-landscape-up {
  .navbar {
    .navbar-links {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: $background-color-1;
      top: $navbar-height;
      left: -100%;
      transition: all 0.5s;
      li {
        display: block;
        line-height: $navbar-height;
      }
    }

    .show {
      left: 0;
    }

    #navbar-button {
      display: block;
    }
  }
}
