//Defines default tag styling.
.tag {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  background-color: $tag-color;
  border: 1px solid $tag-color;
  border-radius: 6px;
}
