.link-button {
  display: inline-block;
  margin: 2vh;
  color: $color-2;
  border: solid 2px $color-2;
  border-radius: 2px;
  padding: 15px;

  &:hover {
    color: lighten($color-2, 30%);
    border-color: lighten($color-2, 30%);
  }
}
