* {
  margin: 0;
  padding: 0;
  color: $main-text-color;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Hack", monospace;
  background-color: $main-background-color;
  background-image: url("/Release/images/DiagonalLines.png");
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  a:hover {
    color: $color-1;
  }
}

ul {
  list-style: none;
}
