//This file is imports ONLY.

//Library - Include first.
@import "./library/colors";
@import "./library/buttons";
@import "./library/tags";

//
@import "variables";
@import "transitions";

//Globals
@import "defaults";

//Layout
@import "./layout/navbar";
@import "./layout/intro";
@import "./layout/about";
@import "./layout/projects";
@import "./layout/contact";
@import "./layout/footer";

.colored-text {
  color: $color-2;
}

//Sections
section {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  margin-bottom: 6vh;

  h1 {
    font-size: 8rem;
    font-family: "Permanent Marker";
    color: $color-1;
    margin-bottom: 2vh;
  }

  h2 {
    font-size: 1rem;
    color: $color-2;
  }
}

.container {
  width: 80%;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  section {
    h1 {
      font-size: 6rem;
    }
  }
}

@media screen and (max-width: 500px) {
  section {
    h1 {
      font-size: 4rem;
    }
  }
}
