* {
  margin: 0;
  padding: 0;
  color: gainsboro; }

html {
  font-size: 14px; }

body {
  font-family: "Hack", monospace;
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none; }
  a a:hover {
    color: #2bdbfd; }

ul {
  list-style: none; }

.link-button {
  display: inline-block;
  margin: 2vh;
  color: #dd8d46;
  border: solid 2px #dd8d46;
  border-radius: 2px;
  padding: 15px; }
  .link-button:hover {
    color: #f5ddc7;
    border-color: #f5ddc7; }

.tag {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  background-color: #0b0a0e;
  border: 1px solid #0b0a0e;
  border-radius: 36px; }

#main-navbar {
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 60px;
  width: 100%;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #main-navbar .menu-button .button-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff; }
  #main-navbar .media-link-icons {
    margin-left: 2vw; }
    #main-navbar .media-link-icons a {
      margin-left: 5px; }
  #main-navbar #main-menu ul {
    margin-right: 2vw; }
    #main-navbar #main-menu ul li {
      display: inline;
      padding-right: 10px; }

#intro {
  text-align: center; }
  #intro h1 {
    font-size: 8rem; }
  #intro p {
    margin-bottom: 5vh;
    color: #909090; }

@media (max-width: 320px) {
  #intro h1 {
    font-size: 2rem; } }

#about {
  text-align: center; }
  #about h1 {
    font-size: 6rem; }
  #about .about-info {
    display: flex;
    align-items: center;
    text-align: left; }
    #about .about-info .profile-image {
      flex: 30%;
      display: flex;
      justify-content: center; }
      #about .about-info .profile-image img {
        width: 250px;
        border: solid 4px #2bdbfd;
        border-radius: 50%; }
    #about .about-info .about-text {
      flex: 70%; }

.skills {
  display: flex; }
  .skills h4 {
    margin-bottom: 10px; }
  .skills .skills-list {
    border-radius: 5px;
    width: 50%; }
    .skills .skills-list ul {
      margin-top: 5px;
      margin-bottom: 5px; }
      .skills .skills-list ul li {
        display: inline-block;
        margin-top: 5px;
        padding: 5px 20px 5px 20px;
        background-color: #0b0a0e;
        border: 1px solid #0b0a0e;
        border-radius: 36px; }

@media (max-width: 1000px) {
  .about-info {
    flex-direction: column; }
  .profile-image {
    flex-direction: column; } }

#projects {
  text-align: center; }
  #projects .ft-project {
    display: flex; }
    #projects .ft-project .ft-project-info {
      flex: 50%; }
    #projects .ft-project .ft-project-image img {
      width: 500px;
      border-bottom: 4px solid #2bdbfd;
      border-radius: 6px; }
  #projects .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em; }
    #projects .projects .project {
      text-align: left;
      min-height: 280px;
      padding: 20px;
      background-color: #1d1d1e;
      border-radius: 4px;
      display: flex;
      flex-direction: column; }
      #projects .projects .project h6 {
        margin-bottom: 10px; }
      #projects .projects .project .project-title {
        font-size: 2rem;
        color: #dd8d46; }
      #projects .projects .project .project-info {
        flex: 80%; }
      #projects .projects .project .project-links {
        flex: 10%;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 5px; }
      #projects .projects .project .project-tags {
        flex: 10%;
        border-radius: 4px;
        padding: 10px; }

@media (max-width: 1400px) {
  #portfolio .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 720px) {
  #portfolio .projects {
    grid-template-columns: repeat(1, 1fr); } }

#main-footer {
  width: 100%;
  background-color: #070707;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #main-footer a {
    color: darkgray; }
  #main-footer p {
    color: darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; }

.colored-text {
  color: #dd8d46; }

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px; }
  section h1 {
    font-size: 8rem;
    font-family: "Permanent Marker";
    color: #2bdbfd; }
  section h2 {
    font-size: 1rem;
    color: #dd8d46; }

.container {
  width: 60%; }

@media (max-width: 1400px) {
  .container {
    width: 90%; } }

@media screen and (max-width: 768px) {
  section h1 {
    font-size: 6rem; } }

@media screen and (max-width: 500px) {
  section h1 {
    font-size: 4rem; } }
